<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel='stylesheet' href='/stylesheets/student.css' />
</head>

<body>
<div class="container">
    <%- include('navigation.ejs') %>

    <!-- ========================= Main ==================== -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
        </div>

        <div class="details">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>Zabranjene riječi</h2>
                    <a href="new-word" class="btn">Dodaj novu zabranjenu riječ</a>
                </div>

                <table>
                    <thead>
                    <tr>
                        <td>Redni broj</td>
                        <td>Zabranjena riječ</td>
                        <td>Obriši riječ</td>
                    </tr>
                    </thead>

                    <tbody>
                    <%for (let i = 0; i < forbiddenWords.length; i++){%>
                    <tr>
                        <td><%=forbiddenWords[i].id%></td>
                        <td><%=forbiddenWords[i].word%></td>
                        <td><a href="delete-word/<%= forbiddenWords[i].id%>" class="status return">Obriši</a></td>
                    </tr>
                    </tbody>
                    <%}%>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- =========== Scripts =========  -->
<script src="assets/js/main.js"></script>

<!-- ====== ionicons ======= -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="skripta.js"></script>
</body>

</html>