<div class="navigation">
    <ul>
        <li>
            <a href="#">
                        <span class="icon">
                             <ion-icon name="person"></ion-icon>
                        </span>
                <span class="title">eStudent/Admin</span>
            </a>
        </li>

        <li>
            <a href="/admin/home/:id">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                <span class="title">Dashboard</span>
            </a>
        </li>

        <li>
            <a href="/admin/users">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                <span class="title">Korisnici</span>
            </a>
        </li>

        <li>
            <a href="/admin/request">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                <span class="title">Pitanja i zahtjevi</span>
            </a>
        </li>

        <li>
            <a href="/admin/words">
                        <span class="icon">
                            <ion-icon name="alert-circle-outline"></ion-icon>
                        </span>
                <span class="title">Zabranjene riječi</span>
            </a>
        </li>

        <li>
            <a href="/admin/news">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                <span class="title">Obavjesti</span>
            </a>
        </li>

        <li>
            <a href="/">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                <span class="title">Odjavi se</span>
            </a>
        </li>
    </ul>
</div>
